.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  flex-wrap: nowrap;
}

.space {
  flex-grow: 1;
}

.page-stuff {
  flex-grow: 2;
  min-width: 640px;
}

.content {
  justify-content: center;
}
