<div class="container" id="main">
    <div class="row">
        <div class="col space"></div>
        <div class="col page-stuff">
            <div class="row">
                <div class="col">
                    <page-header></page-header>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="col space"></div>
    </div>
</div>
