.interrogation {

  .interrogation-header {
    justify-content: space-between;
    display: flex;

    button {
      margin-left: 10px;
    }
  }

  .feature-known {
    text-align: center;
    width: 100%;
  }

  .conclusion {
    text-align: center;
    width: 100%;
  }
}
