<div class="card border-primary mb-3 animal-details">
    <div *ngIf="animal">
        <div class="card-header animal-details-header">
            <span class="flex-item animal-details-title">{{ animal.name | uppercase }}</span>
            <span class="flex-item" style="width: 100%"></span>
            <button class="btn btn-primary btn-sm button-animal-delete" type="button" title="Delete animal"
                    (click)="deleteAnimal(animal)">Delete
            </button>
            <button class="btn btn-primary btn-sm button-animal-edit" type="button" title="Edit animal"
                    (click)="goToEditAnimal(animal)">Edit
            </button>
        </div>

        <div class="card-body">
            <div class="label">
                <label>Has features:</label>
            </div>

            <ul class="list">
                <li *ngFor="let feature of animal.features" class="animal-feature">
                    {{feature.name}}
                </li>
            </ul>
        </div>
    </div>
</div>
